<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/tech-cup-api.log"/>
    <property name="LOG_PATTERN"
              value="ts=%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5level thread=%thread logger=%logger{40} requestId=%X{requestId:-N/A} method=%X{httpMethod:-N/A} path=%X{requestPath:-N/A} msg=%msg %ex{full}%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/tech-cup-api.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="eci.edu.co.Tech_Cup_DOSW_BackEnd_2026_1" level="DEBUG"/>
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
